.header,
.leftBar,
.mainText,
.rightBar,
.footer{
    border: 1px solid lightslategrey;
}

.header{
    grid-area: header;
}

.leftBar{
    grid-area: leftBar;
}

.mainText{
    grid-area: mainText;
}

.rightText{
    grid-area: rightText;
}

.footer{
    grid-area: footer;
}

body{
    display: grid;

    grid-gap: 1rem;

    grid-template-areas:
    'header header header'
    'leftBar mainText rightBar'
    'footer footer footer';
}